// Dark theme [Additions for docs]
@mixin dark {
  --pico-invalid-color: #{rgba($red-900, 0.5)};
  --pico-valid-color: #{rgba($green-800, 0.5)};
  --pico-nav-background-color: #{rgba(darken($grey-900, 6%), 0.8)};
  --pico-nav-border-color: #{rgba($grey-500, 0.2)};
  --pico-nav-logo-color: #{mix($black, $grey-900)};
  --pico-article-code-background-color: var(--pico-code-background-color);
}
