// Light theme (Default) [Additions for docs]
// Can be forced with data-theme="light"
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-invalid-color: #{$red-800};
  --pico-valid-color: #{$green-700};
  --pico-nav-background-color: #{rgba($white, 0.7)};
  --pico-nav-border-color: #{rgba($grey-500, 0.2)};
  --pico-nav-logo-color: #{$white};
  --pico-article-code-background-color: #{mix($grey-50, $white, 33%)};
}
